@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>USPS Address Verfication</h1>
    <p class="lead">A program by Karl Ehlhardt</p>
    <p><a href="https://github.com/Karl-Ehlhardt/" class="btn btn-primary btn-lg">GitHub</a>
    <a href="https://www.linkedin.com/in/karl-ehlhardt-46289299/" class="btn btn-primary btn-lg">LinkedIn</a>
    <a href="https://karl-ehlhardt.github.io/Karl-Ehlhardt-Profile/" class="btn btn-primary btn-lg">Profile</a></p>
</div>

@Html.ActionLink("Add New Address", "Create", "Address", null, new { @class = "btn btn-danger btn-lg" })
@Html.ActionLink("View Addresses", "AddressList", "Address", null, new { @class = "btn btn-danger btn-lg" })
